<div class='row'>
<%= form_for @movie, html: { multipart: true } do |f| %>
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="small-6 small-offset-3 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Title</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field "title" %>
        </div>
      </div>
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Release Date</span>
        </div>
        <div class="small-9 columns">
          <%= f.date_field "release_date" %>
        </div>
      </div>
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Director</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field "director" %>
        </div>
      </div>
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Runtime</span>
        </div>
        <div class="small-9 columns">
          <%= f.number_field "runtime_in_minutes" %>
        </div>
      </div>
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Poster Url</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :remote_poster_url %>
        </div>
      </div>  
      <div class='row collapse prefix-radius'>
        <div class='small-12 columns'>
          <%= f.label "or upload your own: " %><%= f.file_field :poster %>
        </div>
      </div>
      <div class="row collapse prefix-radius">
        <div class="small-12 columns">
          <label>Description
          <%= f.text_area "description" %>
          </label>
        </div>
      </div>        
      <%= f.submit "Submit", class: 'button postfix' %> 
    </div>
<% end %>
</div>