<div class='row'>
  <div class='small-6 offset-small-3 columns'>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
          <td><%= link_to "Delete", admin_user_path(user), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class='row'>  
  <div class='small-9 offset-small-2 columns'>
  <ul class="pagination">
    <%= paginate @users %>
  </ul>
  </div>
</div>