<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'mango.ico' %>

    <title><%= content_for?(:title) ? yield(:title) : "Rotten Mangoes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Rotten Mangoes", movies_path %></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if current_user %>
            <li class='has-dropdown'>
              <a><%= full_name(current_user) %></a>
              <ul class='dropdown'>
                <li class='active'><%= link_to "Admin Page", admin_users_path %></li>
                <li><%= link_to "Submit a movie!", new_movie_path %></li>
                <li><%= link_to "Log Out", session_path("current"), method: :delete %></li>
              </ul>
            </li>
            <% else %>
            <li class='active'><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Log In", new_session_path %></li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="Find a Movie">
              </div>
              <div class="large-4 small-3 columns">
                <a href="#" class="alert button expand">Search</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </nav>  
    <div class='container'>
      <div class='row'>
        <br />
        <br />
      </div>
      <% flash.each do |name, msg| %>
      <div class='row'>
        <%= content_tag :div, msg, class: "small-6 small-offset-3 column alert-box #{name} radius" %>
      </div>
      <% end %>
      <%= yield %>

    <%= javascript_include_tag "application" %>    
    </div>
  </body>
</html>